.EditForm {
    padding: 0 2rem;
    max-width: 600px;
    margin: 2rem auto;

    form {
        margin-bottom: 4rem;

        label,
        input {
            width: 100%;
            border-radius: .2rem;
            font-size: 1rem;
        }

        input {
            padding: .5rem;
            border: none;
            background-color: rgb(230, 230, 230);
            margin-bottom: 1rem;
            margin-top: .5rem;
        }

        button {
            width: 100%;
            margin: 0 auto;
            margin-top: 1rem;
            padding: 1rem;
            font-weight: bold;
            font-size: large;
            border: none;
            border-radius: .2rem;
            background-color: red;
            color: white;

            &:hover {
                background-color: white;
                color: red;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .EditForm {
        padding: 0 1rem;

        form {
            margin-bottom: 4rem;

            label,
            input {
                font-size: 1rem;
            }

            input {
                padding: .4rem;
                margin-bottom: .8rem;
                margin-top: .3rem;
            }

            button {
                padding: .5rem;
                font-size: .9rem;
            }
        }
    }
}